body{
  background-color: #f5f3f3;
}

.image-preview {
  width: 150px;
  height: 88px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
  border: 2px solid #ddd;
}

/* SIDEBAR SECTION */
.sidebar {
  min-width: 280px;
}
.offcanvas-backdrop.show{
  width: 100%;
  height: 100%;
}
.mobile_offcanvas {
  width: 300px !important;
}

.sidebar_links a {
  text-decoration: none;
  color: black;
}
.sidebar_links a.active {
  color: #fff !important;
  background-color: #0d6efd;
  /* border-radius: 5px; */
  font-weight: 700;
}

.offcanvas-body {
  padding: 0;
}
/* .background_outlet {
  background-color: #f0ebeb;
} */

@media (max-width: 991.98px) {
  .sidebar {
    display: none;
  }
}

/* INTRO CARD SECTION */
/* .intro_card {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("./businessman-3213659_1920.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0;
}

.intro_card h1{
  text-transform: uppercase;
} */

/* TABLEDATA COMPONENT SECTION */
.table_style {
  width: 100%;
  background-color: #fff;
}

.table_style td, .table_style th {
  vertical-align: middle !important;
  padding: 8px 10px !important;
}

.table_style img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.tableRow_style {
  max-width: 350px;
  line-height: 27px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.tableRow2_style {
  max-width: 350px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

/* DASHBOARD SECTION */
.card {
  min-height: 140px;
  /* border-radius: 8px; */
}

/* CREATE ACCOUNT SECTION */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 15px;
  background-color: red;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

/* BLOGS SECTION */

/* ADMIN SIGNIN SECTION */
.card_style{
  width: 400px;
  border: none;
  border-radius: 10px;
}

.background_image{
  background: url("../../signin.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}