/*------------ DARK-LIGHT-MODE SECTION ------------*/
.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

.dark-mode .navbar_style, .dark-mode .footer_style {
  background-color: #1e232e !important;
}

/* navbar blur effect starts */
.navbar-blur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.65); /* Light mode */
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
}

[data-bs-theme="dark"] .navbar-blur {
  background-color: rgba(0, 0, 0, 0.35);
}
/* navbar blur effect ends */


.dark-mode a {
  color: #f8f9fa !important;
}

.dark-mode .nav-link.active {
  color: #0d6efd !important;
}

.navbar .nav-link:hover {
  color: #66a3ff !important;
}

.dark-mode .btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.dark-mode .btn-outline-secondary {
  border-color: #f8f9fa;
  color: #f8f9fa;
}

/* ------------ HEADER SECTION ------------ */
.company-logo {
  width: 13%;
}

.hero-section {
  padding-top: 140px !important;
  padding-bottom: 150px !important;
}

.hero-svg-top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.hero-svg-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media (min-width: 992px) {
  .hero-section {
    padding-top: 180px !important;
    padding-bottom: 200px !important;
  }
}


/* ------------ FOOTER SECTION ------------ */
.hover-link:hover {
  color: #4f46e5;
}
.hover-icon:hover {
  color: #4f46e5 !important;
  cursor: pointer;
}
