/*------------ DARK-LIGHT-MODE SECTION ------------*/
.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

.dark-mode .navbar {
  background-color: #1e1e1e !important;
}

.dark-mode a {
  color: #f8f9fa !important;
}

.dark-mode .nav-link.active {
  color: #0d6efd !important;
}

.navbar .nav-link:hover {
  color: #66a3ff !important;
}

.dark-mode .btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.dark-mode .btn-outline-secondary {
  border-color: #f8f9fa;
  color: #f8f9fa;
}

/* ------------ HEADER SECTION ------------ */
.company-logo {
  width: 13%;
}

/* ------------ FOOTER SECTION ------------ */
.hover-link:hover {
  color: #4f46e5;
}
.hover-icon:hover {
  color: #4f46e5 !important;
  cursor: pointer;
}
